# Xcode
build/
DerivedData/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Secrets
*.env
secrets.plist
